<div class="container">
  <!-------------- DSAHBOARD ----------------------->
  <div class="dashboard">
    <!---------------------- DASHBOAD HEADER ------------------------->
    <app-dashboard-header
      (openAddUser)="openAddUserModal()"
    ></app-dashboard-header>
    <!----------------------- LIST OF USERS --------------------------->
    <div class="dashboard__body">
      <div class="card" #scrollableDiv  style="height: 80vh; overflow-y: scroll;" (scroll)="onScroll()">
        <ul class="card_list-users">

            <app-dashboard-user-row
              class="user-row"
              *ngFor="let user of users; let i = index"
              [user]="user"
              (ActionType)="doUserAction($event)"
              (selectedUser)="openSingleUserModal($event)"
            ></app-dashboard-user-row>
            <div

            infinite-scroll
            [infiniteScrollDistance]="1"
            [infiniteScrollUpDistance]="2"
            [infiniteScrollThrottle]="300"
            [scrollWindow]="false"

          >
          </div>

          <div *ngIf="loading">Loading...</div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--------------- SIDE DRAWER  --------------------->
<app-modal class="modal">
  <div nzDrawerContent>
    <!-- The dynamic component for the modal is here  -->
    <div class="modal__header">
      <span (click)="closeDrawer()">X</span>
    </div>

    <div class="modal__body">
      <app-singleuser
        [singleUser]="selectedUser"
        (deleteAction)="showDeleteConfirm($event)"
        (editAction)="openEditUserModal($event)"
      ></app-singleuser>
    </div>
  </div>
</app-modal>

<!----------------- POP UP FOR EDIT AND ADD USER ------------------------->
<app-pop-up>
  <div class="pop-up" content>
    <!-- USER IMAGE IN CASE EDIT OR UPLOAD IMAGE IN CASE ADD -->
    <div class="pop-up__header">
      <img
        *ngIf="isEditMode; else addUserImage"
        class="user-image"
        [src]="selectedUser?.avatar"
        alt="user image"
      />
      <ng-template #addUserImage>
        <input id="fileInput" type="file" (change)="onFileSelected($event)" />
        <div
          class="user-selected-image"
          *ngIf="selectedUserImage && objectUrl; else chooseImage"
        >
          <img [src]="objectUrl" alt="Preview" />
          <label for="fileInput"
            ><span nz-icon nzType="edit" nzTheme="outline"></span
          ></label>
        </div>
        <ng-template #chooseImage>
          <div class="choose-image">
            <label for="fileInput">
              <span nz-icon nzType="camera" nzTheme="outline"></span
            ></label>
          </div>
        </ng-template>
      </ng-template>
    </div>

    <div class="pop-up__body">
      <!-------------- USER FORM  --------------->
      <form nz-form [formGroup]="userForm" class="login-form">
        <!-- FIRST NAME FORM CONTROL -->
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your first name!">
            <input
              type="text"
              nz-input
              formControlName="first_name"
              placeholder="first name"
            />
          </nz-form-control>
        </nz-form-item>
        <!-- LAST NAME FORM CONTROL -->
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your last name!">
            <input
              type="text"
              nz-input
              formControlName="last_name"
              placeholder="last name"
            />
          </nz-form-control>
        </nz-form-item>
        <!-- EMAIL FORM CONTROL -->
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input valid email!">
            <input
              type="email"
              nz-input
              formControlName="email"
              placeholder="email"
            />
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <!-------------- BUTTONS CLOSE AND EDIT OR ADD --------------->
    <div class="pop-up__footer">
      <button (click)="closePopUp()" class="btn-outline-main">Cancel</button>
      <button
        (click)="onEditUser()"
        *ngIf="isEditMode; else addBtn"
        class="btn-filled-main"
      >
        Submit
      </button>
      <ng-template #addBtn>
        <button (click)="onAddUser()" class="btn-filled-main">Add</button>
      </ng-template>
    </div>
  </div>
</app-pop-up>
