@import "../../../../../assets/scss/abstract/mixins";
@import "../../../../../assets/scss/abstract/vairables";

.dashboard {
  &__body {
    .card {
      @include Card(117rem, auto);
      margin: 3rem auto;
      padding: 1.5rem 3rem;
    }
  }
}

.modal {
  &__header {
    text-align: right;
    cursor: pointer;
    color: $color-primary;
  }
}

.pop-up {
  position: relative;

  &__image {
    height: 10.6rem;
    width: 10.6rem;
    border-radius: 50%;
    position: absolute;
    top: -13rem;
    left: 38%;
  }

  &__body {
    margin-top: 4rem;
  }

  &__footer {
    @include CenterItemVerticalAndHorizontal;
    gap: 1.3rem;
    margin-top: 2.5rem;
  }
}
