<header class="app-header">
  <div class="app-header__logo">
    <img src="../../../assets/svgs/Logo.svg" alt="logo">
  </div>
  <div class="app-header__links">
    <ul class="list-items">
      <li class="list-items__item"><a class="list-items__item--link">home</a></li>
      <li class="list-items__item"><a class="list-items__item--link">about</a></li>
      <li class="list-items__item"><a class="list-items__item--link">contact</a></li>
      <li class="list-items__item"><a class="list-items__item--link list-items__item--active">enquire</a></li>
    </ul>
  </div>
</header>
