@import '../../../../../assets/scss/abstract/mixins';

.user{
  @include CenterItemVerticalAndHorizontal;
  .card-header{
    margin-bottom: 2rem;
  }

  &__card {
    width: 40rem;
  }

  .back-icon {
    font-size: 2rem;
  }
}
