
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: "Tajawal", sans-serif;

  src: url('../../fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
}

body {
  font-family: "Tajawal", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}



html {
    font-size: 62.5%;
}
