.btn-filled-main {
  outline: none;
  border: none;
  width: 9.4rem;
  cursor: pointer;
  background-color: $color-primary;
  color: $color-white;
  border-radius: $border-radius-main;
  padding: .9rem 1.5rem;
}
