<div class="container">
  <header class="header">
    <div class="header__title">List of users</div>
    <button (click)="openAddUserModal()" nz-button nzType="dashed" nzShape="circle"><span nz-icon nzType="plus"></span></button>
  </header>
  <div class="users">
    <ng-container *ngFor="let user of users; let i = index">
      <nz-card class="users__card" nzHoverable [nzCover]="coverTemplate">
        <nz-card-meta
          [nzTitle]="user.first_name + ' ' + user.last_name"
          [nzDescription]="user.email"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img class="user-image" alt="user avatar" [attr.src]="user.avatar" />
        <div class="actions">
          <span
            (click)="goToUser(user.id)"
            class="actions__view"
            nz-icon
            nzType="eye"
            nzTheme="fill"
          ></span>
          <span
            (click)="openEditUserModal(user)"
            class="actions__edit"
            nz-icon
            nzType="edit"
            nzTheme="fill"
          ></span>
          <span
            class="actions__delete"
            nz-icon
            nzType="delete"
            nzTheme="fill"
          ></span>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>

<app-modal class="modal">
  <div nzDrawerContent>
    <!-- The dynamic component for the modal is here  -->
    <app-user-form (formUser)="userFormListener($event)" [user]="userToBeEdited" ></app-user-form>
  </div>

  <div class="card-footer" footerTpl>
    <button  [disabled]="(userForm?.value && userForm.invalid) || !userForm" *ngIf="isEditMode ; else addMode" nz-button (click)="editUser()">Update</button>
    <button nz-button nzDanger (click)="close()">Cancel</button>
    <ng-template #addMode>
      <button [disabled]="(userForm?.value && userForm.invalid) || !userForm" nz-button (click)="addUser()">Add</button>
    </ng-template>
  </div>
</app-modal>
