@import "../../../../../assets/scss/abstract/mixins";
@import "../../../../../assets/scss/abstract/vairables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  margin-bottom: 3rem;
  padding: 1.5rem;

  &__title {
    font-weight: 500;
    color: #fff;
    font-size: 1.8rem;
  }
}

.users {
  @include CenterItemVerticalAndHorizontal;
  gap: 2rem;

  &__card {
    width: 27rem;
    position: relative;
    &:hover {
      .user-image {
        opacity: 0.3;
      }

      .actions {
        top: 40%;
        opacity: 1;
      }
    }
  }

  .actions {
    @include CenterItemVerticalAndHorizontal;
    gap: 2rem;
    z-index: 5;
    position: absolute;
    top: 0%;
    opacity: 0;
    font-size: 2.3rem;
    transition: all 0.5s ease-in-out;
    &__view {
      color: $color-primary;
    }

    &__edit {
      color: $color-success;
    }

    &__delete {
      color: $color-error;
    }
  }
}

.card-footer {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
